<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de Productos', css: 'css/productCart.css'}) %>
<body>

  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

  <%- include('partials/search') %> 

     <!--  cart section starts  -->

 <section class="dishes" class="dishes">

  <h3 class="sub-heading">productos</h3>
  <h1 class="heading">Carrito de Compra</h1>

  <div class="box-container">


      <% products.forEach(product => { %> 

          <div class="box">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
              <img src="images/<%= product.image %>" alt="">
              <h3><%= product.name %> </h3>
              <div class="input">
                <span>bombilla</span>
                <input type="radio" name="bombilla">si
                <input type="radio" name="bombilla">no
            </div>
            <div class="input">
                <span>codigo promoción</span>
                <input type="text" name="promo">
            </div>
              <span>$<%= product.price %> </span>
              <a href="#" class="btn">eliminar <i class="fas fa-shopping-cart"></i> </a>
          </div>

      <% }) %> 

  </div>

</section>
     
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
    
</body>
</html>