<!DOCTYPE html>
<html lang="es">


<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito'}) %>

<body class="contact">

  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

  <!--  order section starts  -->

  <section class="order" id="order">
	<h1 class="heading">Formulario de Contacto</h1>

	<form action="enviar.php" method="POST">

		<div class="inputBox">
			<div class="input">
				<span>Nombre</span>
				<input  class="form-control <%= locals.errores && errores.name ? 'is-invalid' : null %>" type="text" id="name" name="name" placeholder="Coloca tu nombre"required>
				<p id="name-msg" class="text-danger p-1 mt-2 small "><%= locals.errores && errores.name ? errores.name.msg : null %> </p>
			</div>
			<div class="input">
				<span>Telefono</span>
				<input   class="form-control <%= locals.errores && errores.telephone ? 'is-invalid' : null %>" type="number" id="telephone" name="telephone" placeholder="Coloca tu telefono"required>
				<p id="telephone-msg" class="text-danger p-1 mt-2 small "><%= locals.errores && errores.telephone ? errores.telephone.msg : null %> </p>
			</div>
		</div>
		<div class="inputBox">
			<div class="input">
				<span>Email</span>
				<input  class="form-control <%= locals.errores && errores.email ? 'is-invalid' : null %>" type="email" id="email"  name="email" placeholder="Coloca tu correo"required>
				<p id="email-msg" class="text-danger p-1 mt-2 small "><%= locals.errores && errores.email ? errores.email.msg : null %> </p>
			</div>
			<div class="input"required>
				<span>Fecha</span>
				<input   class="form-control <%= locals.errores && errores.datetime ? 'is-invalid' : null %>" type="datetime-local"id="datetime" name="datetime">
				<p id="datetime-msg" class="text-danger p-1 mt-2 small "><%= locals.errores && errores.datetime ? errores.datetime.msg : null %> </p>
			</div>
		</div>
		<div class="inputBox">
			<div class="input">
				<span>Consulta</span>
				<textarea   class="form-control <%= locals.errores && errores.query ? 'is-invalid' : null %>" type="" name="query" id="query" placeholder="Realiza tu consulta"required></textarea>
				<p id="query-msg" class="text-danger p-1 mt-2 small "><%= locals.errores && errores.query ? errores.query.msg : null %> </p>
			</div>
		</div>

		<input type="submit" value="Enviar" class="btn width">

	</form>

</section>

<!--  order section ends  -->

<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/js/script.js"></script>
	<script src="/js/contacto.js"></script>

</body>
</html>