<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('partials/head', {title: 'Login'}) %>
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/register.css">

<body>

	 <!-- Header -->
	 <%- include('partials/header') %>
	 <!-- /Header -->

  <main class="register">

    <form  class="form" action="" method="POST">
    
      <div class="social">
        <a href="#"><img src="http://www.androidpolice.com/wp-content/themes/ap2/ap_resize/ap_resize.php?src=http%3A%2F%2Fwww.androidpolice.com%2Fwp-content%2Fuploads%2F2015%2F10%2Fnexus2cee_Search-Thumb-150x150.png&w=150&h=150&zc=3"></a>
        <a href="#"><img src="/images/facebook_16423.png"></a>
        <a href="#"><img src="/images/twitter-gets-a-new-logo-twitter.png"></a>
      </div>   
                                
      <input type="email" name="email" placeholder="Email" />
      <span style="color: red; font-size: 10px;"><%= locals.errors && errors.email ?  errors.email.msg : null %> </span>
      
      <input type="password" name="Password" placeholder="Password" />
      <span style="color: red; font-size: 10px;"><%= locals.errors && errors.email ? errors.email.msg : null %> </span>
    
      <button type="submit">Ingresar</button>
      
    
      <a href="/users/register">Crear cuenta</a>
    
    </form>

  </main>

  <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
		
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/js/script.js"></script>

</body>
</html>