<!DOCTYPE html>
<html lang="es">



<!-- Include Head -->
<%- include('partials/head', {title: 'Perfil'}) %>
<link rel="stylesheet" href="/css/profile.css">

<body>

  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->


    <section id="profile">

            <div id="user">

                <img id="avatar" src="/images/imageProfile/<%= userLogin.avatar %>">
                
                <i class="fa fa-gear"></i>
                
                <div id="main">
                        <h3> <%= userLogin.name %> <%= userLogin.lastName %> </h3>
                        <p> <%= userLogin.rol %> </p>
                </div>
                
                <div id="level">
                    <p> <%= userLogin.email %> </p>
                </div>
                
                <div id="information">
                    <div id="stats">
                        <% if(userLogin.rolId === "admin") { %>
                            <div>
                                <h4>3</h4>
                                <p>Agregados</p>
                            </div>
                        <% }else{ %>
                            <div>
                                <h4>3</h4>
                                <p>Añadidos</p>
                            </div>
                        <% } %>
                        
                        <div>
                            <h4>25</h4>
                            <p>Productos</p>
                        </div>
                        
                        <div>
                            <h4>5</h4>
                            <p>categorias</p>
                        </div>
                    </div>
                    
                    <p id="description">
                        Sección en contrución. La idea es que en esta parte aparescan una niñatura de los 3 ultimos productos añadidos al carrito en cado de ser user: y productos agregados o editados en caso de ser admin.
                    </p>
                    
                    <div id="actions">
                        <% if(userLogin.rolId === 1) { %>
                            <a class="btn" href="/admin/products">Productos</a>
                        <% }else{ %>
                            <a href="/products/list"> <i class="fas fa-shopping-cart"></i> Carrito</a>
                        <% } %>
                        <a class="btn" href="/users/logout"> <i class="fas fa-sign-out-alt"></i> session</a>
                    </div>
                </div>
        </div>

</section>

<!-- whatsapp -->
<%- include('partials/whatsapp') %> 

<!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer -->
    

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- custom js file link  -->
  <script src="/js/cart.js"></script>
  <script src="/js/script.js"></script>
   

</html>