<!DOCTYPE html>
<html lang="es">


<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito'}) %>

<body>

  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

    <section class="dishes" class="dishes">

        <h3 class="sub-heading">productos</h3>
        <h1 class="heading">carrito de compra</h1>
      
        <div class="box-container">

            <% products.forEach(product => { %> 
                <div class="box">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <img src="/images/<%= product.image %>" alt="">
                    <h3><%= product.name %> </h3>
                    <div class="bombilla">
                        <p class="text">bombilla</p>
                        <div class="flip-switch flip-switch-text">
                            <input type="checkbox" id="c3">
                            <label class=".label" for="c3"></label>
                        </div>
                    </div>
                    <span>$<%= product.price %> </span>
                    <a href="#" class="btn btn_delete">eliminar</a>
                </div>
            <% }) %> 

    </div>

</section>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</html>