<!DOCTYPE html>
<html lang="es">


<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito'}) %>
<link rel="stylesheet" href="css/productCart.css">


<body>

  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

  <%- include('partials/search') %> 

    <section class="dishes" class="dishes">

        <h3 class="sub-heading">productos</h3>
        <h1 class="heading">carrito de compra</h1>
      
        <div class="box-container">

            <% products.forEach(product => { %> 
                <div class="box">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <img src="/images/productos/<%= product.image %>" alt="">
                    <h3><%= product.name %> </h3>
                    <div class="bombilla">
                        <p class="text">bombilla</p>
                        <div class="flip-switch flip-switch-text">
                            <input type="checkbox" id="c3">
                            <label class=".label" for="c3"></label>
                        </div>
                    </div>
                    <span>$<%= product.price %> </span>
                    <a href="#" class="btn btn_delete">eliminar<i class="fa fa-times-circle fa-4"></i></i></a>
                </div>
            <% }) %> 

        </div>

</section>

<section class="container content-section">
    <div id="wrap">
        <div id="cart_layout_1">
          <h1>resumen pedido</h1>

          <% products.forEach(product => { %>

            <div class="cart_info">
              <div class="product">
                <img src="/images/productos/<%= product.image %> "/>
              </div>
              <div class="product_info">
                <div class="center">
                  <span><%= product.description %> </span>
                </div>
              </div>
              <div class="details">
                <div class="qty">
                  <div class="center">
                  <span>cant:</span><input type="number"></input>
                </div>
                </div>
                <div class="price">
                  <div class="center">
                  <span>$<%= product.price %> </span>
                  </div>
                </div>
              </div>
            </div>

          <% }) %> 

          <div class="complete_cart">
            <div class="updated">
            <div class="shipping">
              <h2>envio</h2>
              <div class="state">
                <select id="state">
                       <option value = "1">santa fe</option>
                       <option value = "2">bs as</option>
                       <option value = "3">condoba</option>
                       <option value = "4">mendoza</option>
                     </select>
              </div>
              <div class="zip">
                <input type="text"></input>
              </div>
              <div class="calc">
                <a class="button" href="#">Calcular</a>
              </div>
            </div>
            <div class="coupon">
              <h2>codigo cupon</h2>
              <input id="code"></input>
            <a class="button update">actualizar</a>
            </div>
            </div>
            <div class="checkout">
              <div class="total">
              <h2>total:</h2>
              </div>
              <span class="subtotal">
                $24.99
              </span>
              <div class="bfb">
                <a class="button" href="#">comprar</a>
              </div>
            </div>
             <div class="updated mobile">
            <div class="shipping">
              <h2>envio</h2>
              <div class="state">
                <select id="state">
                       <option value = "1">santa fe</option>
                       <option value = "2">bs as</option>
                       <option value = "3">cordoba</option>
                       <option value = "4">mendoza</option>
                     </select>
              </div>
              <div class="zip">
                <input type="text"></input>
              </div>
              <div class="calc">
                <a class="btn" href="#">Calcular</a>
              </div>
            </div>
            <div class="coupon">
              <h2>codigo descuento</h2>
              <input id="code"></input>
            <a class="button update">actualizar</a>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>

</section>

    <!-- whatsapp -->
    <%- include('partials/whatsapp') %> 

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- custom js file link  -->
  <script src="/javascript/script.js"></script>
   

</html>