<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Detalle Producto'}) %>

<body class="body-pd">
      <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

    <%- include('partials/search') %> 

    <main class="main-pd">
        <article>
            <div class="menu">
                <h1><%= producto.name %></h1>
                 <div class="contenedor">
                    <div class="producto"><img src="/images/<%= producto.image %>" alt=""></div>
                    <div class="caja">
                        <div class="precio"><h3>$<%= producto.price %></h3></div>
                    <div class="mate"><h3><%= producto.name %></h3></div>
                    <div class="off">
                       <div class="box">
                        <div class="oferta"><h4>OFERTA: 25% de descuento</h4></div>
                       </div>
                    <div class="color">
                        <label for="color">Elegir color</label>
                       <div class="negro"><input type="radio" name="color" id="color" value="Negro"> Negro</div>
                        <div class="cafe"><input type="radio" name="color" id="color" value="Cafe" >Café</div>
                        <div class="naranja"><input type="radio" name="color" id="color" value="Naranja">Naranja</div>
                    </div>
                    </div>
                     <div class="detalle">
                        <div class="info-product">
                            <p><%= producto.description %></p>
                        </div>
                    </div>
                </div>
                <div class="carrito">
                   <a href="/products/productcart"><button>Ir al carrito<i class="fas fa-shopping-cart"></i></button></a>
                </div>
                <div class="comentario">
                    <label for="comentario"></label>
                    <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Dejá tu comentario"></textarea>
                    <button type="enviar">Enviar</button>
                </div>

            </div>
        </article>
    </main>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer --> 

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/js/script.js"></script>
     
    
</body>
</html>