<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de Productos'}) %>
<body>

  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

  <%- include('search') %> 

     <!--  dishes section starts  -->

 <section class="dishes" class="dishes">

  <h3 class="sub-heading">productos</h3>
  <h1 class="heading">listado de productos</h1>

  <div class="box-container">


      <% products.forEach(product => { %> 

          <div class="box">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
              <img src="images/<%= product.image %>" alt="">
              <h3><%= product.name %> </h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <span>$<%= product.price %> </span>
              <a href="#" class="btn">agregar <i class="fas fa-shopping-cart"></i> </a>
          </div>

      <% }) %> 

  </div>

</section>
     
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
    
</body>
</html>