<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de Productos'}) %>
<link rel="stylesheet" href="/css/products.css">
<link rel="stylesheet" href="/css/footer.css">
<body>

  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

  <%- include('partials/search') %> 

     <!--  dishes section starts  -->

 <section class="menu" class="menu">

  <h3 class="sub-heading">productos</h3>
  <h1 class="heading">listado de productos</h1>

  <div class="box-container">


      <% products.forEach(product => { %> 

          <div class="box">
            <div class="image">
                <img src="/images/<%= product.image %> " alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3><%= product.name %> </h3>
                <p><%= product.description %> </p>
                <a href="#" class="btn">agregar <i class="fas fa-shopping-cart"></i> </a>
                <span class="price"><%= product.price %> </span>
            </div>
          </div>

      <% }) %> 

  </div>

</section>

     <!-- whatsapp -->
     <%- include('partials/whatsapp') %> 
     
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/js/script.js"></script>
     
    
</body>
</html>
