<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('partials/head', {title: 'Registro'}) %>

<body>

  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->


    <main class="main-register">       
    
        <h2 class="completa">Completa tus datos</h2>
        <form action="" method="POST">
            <div class="datos">
                <div class="linea1-2">
                    <div class="linea1">
                        <div class="nombre">
                            <label>Nombre</label>
                            <input type="text" name="firstName" id="firstName" value="<%= locals.old && old.firstName ? old.firstName : "" %>">
                            <% if (locals.errors && errors.firstName) { %>
                                <p style="color: red; font-size: 10px;"><%= errors.firstName.msg %></p>
                          <% } %> 
                        </div>
                        <div class="apellido">
                            <label>Apellido</label>
                            <input type="text" name="lastName" id="lastName"  value="<%= locals.old && old.lastName ? old.lasName : "" %>">
                            <% if (locals.errors && errors.lastName) { %>
                                <p style="color: red; font-size: 10px;"><%= errors.lastName.msg %></p>
                          <% } %> 
                        </div>
                    </div>
                    <div class="linea2">
                        <div class="genero">
                            <label>Genero</label>
                            <select name="gender" id="gender">
                                <% if (locals.errors && errors.gender) { %>
                                    <p style="color: red; font-size: 10px;"><%= errors.gender.msg %></p>
                              <% } %> 
                                <option>Seleccione</option>
                                <option value="femenino" <%= locals.old && locals.gender === 'femenino' ? 'select' : "" %> >Femenino</option>
                                <option value="masculino" <%= locals.old && locals.gender === 'masculino' ? 'select' : "" %>>Masculino</option>
                                <option value="otro" <%= locals.old && locals.gender === 'otro' ? 'select' : "" %>>Otro</option>
                            </select>
                        </div>               
                    </div>
                </div>
                
                <div class="linea3">
                    <div class="email">
                        <label>Email*</label>
                        <input type="email" name="email"  value="<%= locals.old && old.email %> ">
                        <% if (locals.errors && errors.email) { %>
                            <p style="color: red; font-size: 10px;"><%= errors.email.msg %> </p>
                      <% } %> 
                    </div>
                </div>
                <div class="linea4">
                    <div class="password">
                        <label>Contraseña*</label>
                        <div class="pass">
                            <input type="password" name="password">
                            <i class="far fa-eye-slash"></i>  
                        </div>
                        <% if (locals.errors && errors.password) { %>
                            <p style="color: red;"><%= errors.password.msg %> </p>
                      <% } %> 
                    </div>
                    <div class="repetirPass">
                        <label for="image">Colocar imagen de perfíl.</label>
                         <input type="file" name="image" id="image">
                    </div>
                </div>
                
                <div class="crear">
                    <button type="submit">CREAR CUENTA</button>
                </div>
            </div>
        
        </form>
        <div class="registrate-con">
            <h2>O registrate con</h2>        
            <form class="redes" action="/register" method="POST">
                <div class="google">
                    <button type="submit"><img src="https://img.icons8.com/color/48/000000/google-logo.png"/>Google</button>
                </div>
                <div class="facebook">
                 <button type="submit"><i class="fab fa-facebook-square"></i>Facebook</button>
                </div>
            </form>
        </div>
    </main>
    

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
      
</body>
</html>