<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('partials/head', {title: 'Registro'}) %>
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/register.css">

<body>


   <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

  <main class="register">

    <form  class="form"  action="/users/register" method="POST" enctype="multipart/form-data">
    
      <h3>Registro de usuario:</h3>  
                                
      <input type="text" name="firstName" id="firstName" value="<%= locals.old && old.firstName ? old.firstName : "" %>" placeholder="Nombre">
            <% if (locals.errors && errors.firstName) { %>
                <p style="color: red; font-size: 10px;"><%=  errors.firstName.msg    %></p>
            <% } %> 
                        
                            
      <input type="text" name="lastName" id="lastName"  value="<%= locals.old && old.lastName ? old.lasName : "" %>" placeholder="Apellido" >
              <% if (locals.errors && errors.lastName) { %>
                  <p style="color: red; font-size: 10px;"><%= errors.lastName.msg %></p>
              <% } %> 
                 
      <label>Genero:</label>
      <div class="select">  
        <select name="gender" id="gender">
            <% if (locals.errors && errors.gender) { %>
                  <p style="color: red; font-size: 10px;"><%= errors.gender.msg %></p>
            <% } %> 
          <option>Seleccione</option>
          <option value="femenino" <%= locals.old && locals.gender === 'femenino' ? 'selected' : "" %> >Femenino</option>
          <option value="masculino" <%= locals.old && locals.gender === 'masculino' ? 'selected' : "" %>>Masculino</option>
          <option value="otro" <%= locals.old && locals.gender === 'otro' ? 'selected' : "" %>>Otro</option>
          <option value="otro" <%= locals.old && locals.gender === 'otro' ? 'selected' : "" %>>Prefiero no decirlo</option>
        </select>
      </div>               
        <input type="email" name="email"  value="<%= locals.old && old.email %> " placeholder="email">
            <% if (locals.errors && errors.email) { %>
                    <p style="color: red; font-size: 10px;"><%= errors.email.msg %> </p>
            <% } %> 
                     
      <input type="password" name="password" placeholder="password">
            <!-- <i class="far fa-eye-slash"></i>   -->
                        
            <% if (locals.errors && errors.password) { %>
                  <p style="color: red;"><%= errors.password.msg %> </p>
            <% } %> 
                    
      <label for="image">Imagen de perfíl:</label>
      <input type="file" name="image" id="image">
       
      <button type="submit">crear cuenta</button>
      
    </form>

  </main>

   <!-- whatsapp -->
   <%- include('partials/whatsapp') %> 

  <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
		
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/js/script.js"></script>

</body>
</html>