<!DOCTYPE html>
<html lang="es">


    <!-- Include Head -->
<%- include('../partials/head', {title: 'crear'}) %>
<link rel="stylesheet" href="/css/admin.css">
<body class="body-admin">

  <!-- Header -->
	<%- include('../partials/header') %>

    <!--main-->
    <section class="order" id="order">
        <h3 class="sub-heading">Creación</h3>
        <h1 class="heading"> Nuevo Producto</h1>
    
        <form action="/admin/edit/create" method="POST" enctype="multipart/form-data">
    
            <div class="inputBox">
                <div class="input">
                    <span>Nombre</span>
                    <input type="text" placeholder="" value="">
                </div>
                <div class="input">
                    <span>Precio</span>
                    <input type="number" placeholder="" value="">
                </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <span>Categoria</span>
                    <div class="caja">
                        <select name="category" id="category">
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= categoria.name %>"><%= categoria.name %> </option>
                            <% }) %>
                        </select>
                    </div>
                  </div>
                  <div class="input">
                    <span>Agregar imagen</span>
                    <input type="file" name="image" value="">   
                </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <span>Descripción</span>
                    <textarea type="" placeholder=""></textarea>
                </div>
            </div>
    
            <input type="submit" value="Editar" class="btn width">
    
        </form>

    <!-- footer -->
	<%- include('../partials/footer') %>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/js/script.js"></script>

</body>
</html>