<!DOCTYPE html>
<html lang="es">


    <!-- Include Head -->
<%- include('../partials/head', {title: 'crear'}) %>
<body class="body-admin">

  <!-- Header -->
	<%- include('../partials/header') %>

    <!--main-->
   <div class="admin">
   <main>
    <nav>
        <div class="form">
            <h1>Crear Producto</h1>
            <form action="/admin/create"  method="POST"  enctype="multipart/form-data">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Nombre del Producto">
                <br>
                <label for="price"></label>
                <input type="number" placeholder="Precio">
                <br>
                    <label for="description"></label>
                    <textarea name="description" id="description" cols="30" rows="5" placeholder="Descripción del producto"></textarea>
                <br>
                <label for="category"></label>
                <select name="category" id="category">
                    <option value="" selected hidden>Seleccione la categoría</option>
                    <% categorias.forEach(categoria => { %>
                     <option value="<%= categoria.name %>"><%= categoria.name %> </option>
                    <% }) %>
                </select>
                <br>
             <div class="archivo">
                <div class="file"><label for="image">Agregar imagen</label>
                    <input type="file" name="image" id="image"></div>   
                   </div>
             </div>
                <button>Agregar</button>
            </form>
        </div>
    </nav>
   </main>
   </div>

    <!-- footer -->
	<%- include('../partials/footer') %>
</body>
</html>