<!DOCTYPE html>
<html lang="es">


    <!-- Include Head -->
<%- include('../partials/head', {title: 'edit'}) %>
<body class="body-admin">

  <!-- Header -->
	<%- include('../partials/header') %>

    <!--main-->
    <section class="order" id="order">
        <h1 class="heading">Editar Producto</h1>
    
        <form action="/admin/edit/<%= product.id %>?_method=PUT" method="POST">
    
            <div class="inputBox">
                <div class="input">
                    <span>Nombre</span>
                    <input type="text" placeholder="" value="<%= product.name %>">
                </div>
                <div class="input">
                    <span>Precio</span>
                    <input type="number" placeholder="" value="<%= product.price %>">
                </div>
            </div>
            <div class="inputBox">
                <div class="select">  
                    <select name="category" id="category" class="seleccionar">
                        <% categories.forEach(categoria => { %>
                         <option value="<%= categoria.id %>" <%= product.categoryId === categoria.id ? 'selected' : null %> ><%= categoria.name %> </option>
                        <% }) %>
                    </select>
                  </div>     
                <div class="input">
                    <span>Consulta</span>
                    <textarea type="" placeholder=""><%= product.description %></textarea>
                </div>
            </div>
    
            <input type="submit" value="Editar" class="btn">
    
        </form>

    <!-- footer -->
	<%- include('../partials/footer') %>
</body>
</html>