<!DOCTYPE html>
<html lang="es">


    <!-- Include Head -->
<%- include('../partials/head', {title: 'edit'}) %>
<body class="body-admin">

  <!-- Header -->
	<%- include('../partials/header') %>

    <!--main-->
   <div class="admin">
   <main>
    <nav>
        <div class="form">
            <h1>Editar Producto</h1>
            <form action="/admin/edit/<%= product.id %>?_method=PUT" method="POST">
                <div class="box-form">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Nombre del Producto" value="<%= product.name %>">
                <span class="text-danger small"><%= locals.errores && errores.name ? errores.name.msg : null %></span>
                </div>            
                <br>
                <div class="box-form">
                <label for="price"></label>
                <input type="number" name="price" id="price" placeholder="Precio" value=<%= product.price %>>
                <span class="text-danger small"><%= locals.price && errores.price ? errores.price.msg : null %></span>
                </div>
                <br>
                <div class="box-form">
                <label for="description"></label>
               <textarea name="description" id="description" cols="30" rows="5" placeholder="Descripción del producto"><%= product.description %></textarea>
               <span class="text-danger small"><%= locals.description && errores.description ? errores.description.msg : null %></span>
               </div>
               <br>
               <div class="box-form">
                <label for="category"></label>
                 <select name="category" id="category">
                        <% categories.forEach(categoria => { %>
                         <option value="<%= categoria.id %>" <%= product.categoryId === categoria.id ? 'selected' : null %> ><%= categoria.name %> </option>
                        <% }) %>
                    </select>
                    <span class="text-danger small"><%= locals.category && errores.category ? errores.category.msg : null %></span>
                 </div>   
                <br>
              
                <button>Editar</button>
            </form>
        </div>
    </nav>
   </main>
   </div>

    <!-- footer -->
	<%- include('../partials/footer') %>
</body>
</html>