<!DOCTYPE html>
<html lang="es">


    <!-- Include Head -->
<%- include('../partials/head', {title: 'edit'}) %>
<body class="body-admin">

  <!-- Header -->
	<%- include('../partials/header') %>

    <!--main-->
   <div class="admin">
   <main>
    <nav>
        <div class="form">
            <h1>Editar Producto</h1>
            <form action="/ame/edit/<%= producto.id %>?_method=PUT" method="POST">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Nombre del Producto" value="<%= producto.nombre %>">
                <br>
                <label for="price"></label>
                <input type="number" name="price" id="price" placeholder="Precio" value=<%= producto.precio %>>
                <br>
                <label for="description"></label>
               <textarea name="description" id="description" cols="30" rows="5" placeholder="Descripción del producto"><%= producto.descripcion %></textarea>
                <br>
                <label for="category"></label>
                <select name="category" id="category">
                    <% categorias.forEach(categoria => { %>
                     <option value="<%= categoria.nombre %>" <%= producto.categoria.toLowerCase() === categoria.nombre.toLowerCase() ? 'selected' : null %> ><%= categoria.nombre %> </option>
                     <% }) %>
                </select>
                <br>
                <div>
                    <form action=/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger" style="width: 35px;" type="submit"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
                <button>Editar</button>
            </form>
        </div>
    </nav>
   </main>
   </div>

    <!-- footer -->
	<%- include('../partials/footer') %>
</body>
</html>