<!DOCTYPE html>
<html lang="es">


    <!-- Include Head -->
<%- include('../partials/head', {title: 'edit'}) %>
<body class="body-admin">

  <!-- Header -->
	<%- include('../partials/header') %>

    <!--main-->
   <div class="admin">
   <main>
    <nav>
        <div class="form">
            <h1>Editar Producto</h1>
            <form action="/admin/edit/<%= producto.id %>?_method=PUT" method="POST">
                <label for="nombre"></label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre del Producto" value="<%= producto.nombre %>">
                <br>
                <label for="precio"></label>
                <input type="number" name="precio" id="precio" placeholder="Precio" value=<%= producto.precio %>>
                <br>
                <label for="descripcion"></label>
               <textarea name="descripcion" id="descripcion" cols="30" rows="5" placeholder="Descripción del producto"><%= producto.descripcion %></textarea>
                <br>
                <label for="categoría"></label>
                <select name="categoría" id="categoria">
                    <% categorias.forEach(categoria => { %>
                     <option value="<%= categoria.nombre %>" <%= producto.categoria.toLowerCase() === categoria.nombre.toLowerCase() ? 'selected' : null %> ><%= categoria.nombre %> </option>
                     <% }) %>
                </select>
                <br>
                <button>Editar</button>
            </form>
        </div>
    </nav>
   </main>
   </div>

    <!-- footer -->
	<%- include('../partials/footer') %>
</body>
</html>