<!DOCTYPE html>
<html lang="es">

</head>
<body>
    
    <!-- Include Head -->
    <%- include('../partials/head', {title: 'crear'}) %>
    <body class="body-admin">
    
      <!-- Header -->
        <%- include('../partials/header') %>
    

<main>
    <div class="card ">
        <div class="table-responsive">

    <table class="table table-hover  ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoría</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            <% productos.forEach((product,index) => { %>
                <tr>
                    <th scope="row"><%= index + 1 %> </th>
                    <td><%= product.name %> </td>
                    <td><%= product.price %> </td>
                    <td><%= product.category %> </td>
                    <td class="d-flex justify-content-around">
                        <a class="btn btn-sm btn-success"
                        href="/admin/edit/<%= product.id %> "><i class="fas fa-edit"></i></a>
                    <div>
                        <form
                            action="/admin/delete/<%= product.id %>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-sm btn-danger"
                                type='submit'><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                    </td>
                  </tr>
            <% }) %>
         
        </tbody>
      </table>
    </div>
</div>

</main>

 <!-- footer -->
 <%- include('../partials/footer') %>
</body>
</html>